<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{292,0},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{982,750}</string>
                <key>spriteSourceSize</key>
                <string>{1334,750}</string>
                <key>textureRect</key>
                <string>{{0,108},{982,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_buy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,79}</string>
                <key>spriteSourceSize</key>
                <string>{163,79}</string>
                <key>textureRect</key>
                <string>{{797,0},{163,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fram_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{120,0},{57,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fram_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,56}</string>
                <key>textureRect</key>
                <string>{{417,0},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,108}</string>
                <key>spriteSourceSize</key>
                <string>{115,108}</string>
                <key>textureRect</key>
                <string>{{567,0},{115,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{83,79}</string>
                <key>textureRect</key>
                <string>{{484,0},{83,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,30}</string>
                <key>spriteSourceSize</key>
                <string>{24,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{72,0},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ran_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,48}</string>
                <key>spriteSourceSize</key>
                <string>{57,48}</string>
                <key>textureRect</key>
                <string>{{177,0},{57,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ran_t.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,56}</string>
                <key>textureRect</key>
                <string>{{350,0},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_frame_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,102}</string>
                <key>spriteSourceSize</key>
                <string>{115,102}</string>
                <key>textureRect</key>
                <string>{{682,0},{115,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shop_item_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{24,0},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{234,0},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{982,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fb84bea954e9a7127c006257b4a2835:84aa4a0a69aa1550c59d65b5bf5be06b:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
