<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,108}</string>
                <key>spriteSourceSize</key>
                <string>{127,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,56}</string>
                <key>spriteSourceSize</key>
                <string>{53,56}</string>
                <key>textureRect</key>
                <string>{{328,1},{53,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,98}</string>
                <key>spriteSourceSize</key>
                <string>{196,98}</string>
                <key>textureRect</key>
                <string>{{130,1},{196,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setup.png</string>
            <key>size</key>
            <string>{382,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4106d149440de8c93bae49893f884045:36585b210b84ba3af1b85f18087ce9f6:40e4a2ef5ec4f9c5a9f0bbb8b4fb954c$</string>
            <key>textureFileName</key>
            <string>setup.png</string>
        </dict>
    </dict>
</plist>
