<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{687,803},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>all_sell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,88}</string>
                <key>spriteSourceSize</key>
                <string>{197,88}</string>
                <key>textureRect</key>
                <string>{{488,731},{197,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,413}</string>
                <key>spriteSourceSize</key>
                <string>{111,413}</string>
                <key>textureRect</key>
                <string>{{1,731},{111,413}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{925,728}</string>
                <key>spriteSourceSize</key>
                <string>{925,728}</string>
                <key>textureRect</key>
                <string>{{1,1},{925,728}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,70}</string>
                <key>spriteSourceSize</key>
                <string>{103,70}</string>
                <key>textureRect</key>
                <string>{{416,731},{103,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,49}</string>
                <key>textureRect</key>
                <string>{{805,731},{50,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{805,783},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,19}</string>
                <key>spriteSourceSize</key>
                <string>{24,19}</string>
                <key>textureRect</key>
                <string>{{488,821},{24,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ojbk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,70}</string>
                <key>spriteSourceSize</key>
                <string>{116,70}</string>
                <key>textureRect</key>
                <string>{{687,731},{116,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{726,803},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bag.png</string>
            <key>size</key>
            <string>{927,843}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b917f6b5352871aa0389d90499448254:d4f24bb2f4dc52e2f21389bf81e795e0:b3f8c49958a0fb927b02d9c3b1fdbc5b$</string>
            <key>textureFileName</key>
            <string>bag.png</string>
        </dict>
    </dict>
</plist>
