<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,542},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,157}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{191,170}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{191,170}}</string>
                <key>sourceSize</key>
                <string>{223,188}</string>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{193,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{193,164}}</string>
                <key>sourceSize</key>
                <string>{223,188}</string>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{153,172}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,7},{153,172}}</string>
                <key>sourceSize</key>
                <string>{223,188}</string>
            </dict>
            <key>head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,368},{172,188}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,30},{172,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{160,214}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,17},{160,214}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,218}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,16},{170,218}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>ui_loding.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,164},{202,206}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{202,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac5f9928c0502c5382a4e361be77e422$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
