<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,107}</string>
                <key>spriteSourceSize</key>
                <string>{278,107}</string>
                <key>textureRect</key>
                <string>{{1,717},{278,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,106}</string>
                <key>spriteSourceSize</key>
                <string>{248,106}</string>
                <key>textureRect</key>
                <string>{{281,717},{248,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{922,714}</string>
                <key>spriteSourceSize</key>
                <string>{922,714}</string>
                <key>textureRect</key>
                <string>{{1,1},{922,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{88,80}</string>
                <key>textureRect</key>
                <string>{{631,717},{88,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wwc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,31}</string>
                <key>spriteSourceSize</key>
                <string>{98,31}</string>
                <key>textureRect</key>
                <string>{{531,717},{98,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{924,825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdff893dfa366b65ad6715efc6712805:8aa90b72460a7ef072863cca951edb0f:0fe40ccc5647575d2f7ff520a7cb8a4b$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
